# Default ignored files
/../../Github /.idea/shelf/
/../../Github /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Github /.idea/httpRequests/
# Datasource local storage ignored files
/../../Github /.idea/dataSources/
/../../Github /.idea/dataSources.local.xml
